$indent: 4vw;
$indentV: 1vh;

$bgDark: #792879;
$fontDark: #792879;
$bgLight: lighten($bgDark, 60%);
$fontLight: #eee;

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

@mixin reset() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin colorDark() {
    background-color: $bgDark;
    color: $bgLight;
}

@mixin colorLight() {
    background-color: $bgLight;
    color: $fontDark;
}

@mixin flex($dir, $side) {
    display: flex;
    flex-direction: $dir;
    justify-content: $side;
}

@mixin border($col, $perc) {
    border: 2px solid $col;
    border-radius: $perc 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
}


html {
    scroll-behavior: smooth;
}

body {
    @include reset;
    @include colorLight;
    font-family: $font;
    font-size: 18px;
}

header {
    @include flex(row, space-between);
    @include colorDark;
    padding: $indentV $indent;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;

    a {
        color: $fontLight;
        text-decoration: none;
        font-size: 2rem;
    }

    nav {
        ul {
            @include reset;

            li {
                display: inline-block;
                margin-left: $indentV;

                a {
                    display: block;
                    font-size: 100%;
                    padding: $indentV;
                    text-transform: capitalize;
                    @include border(transparent, 20%);

                    &:hover,
                    &.active {
                        @include border($fontLight, 20%);
                    }
                }
            }
        }
    }
}

.home {
    @include flex(column, center);
    height: 80vh;
    padding: $indent;
    background-image: url(images/bg_header.jpg);
    background-size: cover;
    background-position: center center;

    div {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        color: $fontLight;
        text-shadow: 1px -1px 3px $fontDark;
        position: relative;
        z-index: 10;
        font-size: 1.5rem;

        h1 {
            text-transform: uppercase;
        }

        button {
            background: none;
            @include border($fontLight, 20%);
            @include colorDark;
            padding: $indentV * 2 $indentV * 3;
            text-transform: uppercase;
            font-family: $font;

            &:focus {
                outline: transparent;
                box-shadow: 1px -1px 3px $fontDark;
            }
        }
    }
}


#services {
    @include reset();
    @include colorLight();
    padding: $indentV $indent;

    h2 {
        text-align: center;
    }

    >div {
        @include flex(row, space-between);

        ol {
            padding: 0;
            list-style-position: inside;

            li {
                margin-bottom: 8px;
            }
        }

        img {
            width: 80%;
        }
    }
}

#features {
    @include reset();
    @include colorDark();
    padding: $indentV $indent;

    h2 {
        text-align: center;
    }

    >div {
        @include flex(row, space-between);

        div{
            margin: 20px;
            margin-bottom: 30px;
            padding: 20px;
            text-align: center;
            @include border(white, 20%);
        }

        h1{
            margin-bottom: 10px;
        }

        img {
            width: 20%;
        }
    }
}

#prices {
    @include reset();
    @include colorLight();
    padding: $indentV $indent;

    h2 {
        text-align: center;
    }

    >div {
        @include flex(row, center);

        div{
            margin: 20px;
            padding: 30px;
            padding-bottom: 15px;
            padding-top: 20px;
            text-align: center;
            @include border(#792879, 20%);
        }

        h1{
            margin-bottom: 10px;
        }

        h4{
            margin: 0px;
        }

        hr{
            padding-top: 1px;
            @include colorDark();
        }

        button{
            @include colorDark();
            @include border(#792879, 20%);
            margin-top: 30px;
            padding: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

#contact {
    @include reset();
    @include colorLight();
    padding: $indentV $indent;

    h2 {
        text-align: center;
    }

    form {
        @include flex(column, center);
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
        color: #792879;
        ::placeholder{
            color: #792879;         
        }

        input{
            @include colorLight();
            margin: 20px;
            padding: 10px;
            padding-bottom: 15px;
            padding-top: 20px;
            @include border(#792879, 20%);
            max-width: 40%;
            min-width: 40%;
        }
        
        #textarea{
            @include border(#792879, 20%);
            padding-left: 0px;
            margin: 20px;
            padding: 10px;
            padding-bottom: 15px;
            padding-top: 20px;
            @include colorLight();
            max-width: 40%;
            min-width: 40%;
        }        

        button{
            @include colorDark();
            @include border(#792879, 20%);
            margin-top: 30px;
            padding: 40px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 10px
        }
    }
}

#footer {
    @include reset();
    @include colorDark();
    padding: $indentV $indent;

    h3 {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }    
}